.cart table thead tr th {
  border-top: none!important;
  color: #ffffff;
  letter-spacing: -1px;
  padding: 0 4px 0 4px;
}
.cart table tbody tr td {
  color: #ffffff;
  letter-spacing: -1px;
  padding: 8px;
  text-align: center;
}
.cartButton {
  border: 3px solid white!important;
}
